<div id="disqus_thread"></div>
<script type="text/javascript">
	(function () {
		// Don't ever inject Disqus on localhost--it creates unwanted
		// discussions from 'localhost:1313' on your Disqus account...
		if (window.location.hostname == "localhost")
			return;

		var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
		var disqus_shortname = '{{ .Site.DisqusShortname }}';
		dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
		(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
	})();
</script>